@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("_HeadDashboardComponentPartial")

<body>
    <div class="container-scroller">
        @await Component.InvokeAsync("_NavbarDashboardComponentPartial")

        <div class="container-fluid page-body-wrapper">
            @await Component.InvokeAsync("_ThemeSettingsWrapperDashboardComponentPartial")

            @await Component.InvokeAsync("_RightSidebarDashboardComponentPartial")

            @await Component.InvokeAsync("_SidebarDashboardComponentPartial")

            @await Component.InvokeAsync("_StatisticsWidgetComponentPartial")
        </div>
    </div>
    @await Component.InvokeAsync("_ScriptDashboardComponentPartial")
</body>


</html>
